<h1>Create</h1>

<form method="post">
    <label>Código hospital</label>
    <input type="text" name="idhospital" class="form-control" />
    <label>Nombre</label>
    <input type="text" name="nombre" class="form-control" />
    <label>Dirección</label>
    <input type="text" name="direccion" class="form-control" />
    <lable>Teléfono</lable>
    <input type="text" name="telefono" class="form-control" />
    <lable>Camas</lable>
    <input type="number" name="camas" class="form-control" />
    <button type="submit" class="btn-primary">Insertar hospital</button>
</form>
<h1 style="color: blue">@ViewData["mensaje"]</h1>