<h1>Eliminar hospital</h1>

<form method="post">
    <label>Código de hospital</label>
    <input type="text" name="idhospit" class="form-control" />
    <button type="submit" class="btn-danger">Eliminar hospital</button>
</form>
<h1 style="color: blue">@ViewData["mensaje"]</h1>